* {
    background-color: rgb(190, 255, 233);
    color: rgb(17, 10, 232);
}

.header {
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.input-container {
    text-align: center;

}

.add-btn {
    margin-top: 5px;
    text-align: center;
}

.task-input {
    text-align: center;
}

.tast-list {
    text-align: center;
}